.bookingCard {
    max-width: 450px;
    margin: 30px auto;
}

.bookingCard-title {
    display: flex;
    align-items: center;
}
.bookingCard-icon {
    padding-right: 10px;
}
.bookingCard-subtitle {
    margin-bottom: 0;
}

.bookingCard-form {
    margin-top: 1.25em;
}
.bookingCard-input {
    display: block;
}

.bookingCard-action {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 8px;
    margin-bottom: 8px;
}
.bookingCard-button-primary {
    font-size: 16px;
}

.table-action {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
}
.table-button-primary {
    font-size: 24px;
    padding: 10px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 33%;
}

tr:hover {
    cursor: pointer;
    background-color: #eee;
}

#list {
    margin: 10px auto;
    width: 70%;
}