table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

tr:hover {
    cursor: pointer;
    background-color: #eee;
}

#staffList {
    margin: 10px;
}
  