.myOrder {
    max-width: 450px;
    margin: 30px auto;
}

.myOrder-title {
    display: flex;
    align-items: center;
}
.myOrder-subtitle {
    margin-bottom: 0;
}
.myOrder-icon {
    padding-right: 10px;
}
.padding-top {
    padding-top: 10px;
}

.list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between
}

.table-action {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
}
.table-button-primary {
    font-size: 24px;
}