<mat-toolbar color="primary">
  <div id="logo" routerLink="/">
    <h1>Saffron - Staff Dashboard</h1>
  </div>
  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="customerMenu" class="nav-btn" *ngIf="staff.isLoggedIn">
    <mat-icon>account_circle</mat-icon>{{ staff.email }}
  </button>
  
  <button mat-button class="nav-btn" routerLink="/dashboard/logging" *ngIf="!staff.isLoggedIn">
    Log in
  </button>
  
  <mat-menu #customerMenu="matMenu">
    <p mat-menu-item disabled class="subnav-header" routerLink="/dashboard">Role: <span class="red-text">{{ isAdmin() }}</span></p>
    <mat-divider></mat-divider>

    <button mat-menu-item routerLink="/dashboard/orders" *ngIf="staff.isAdmin">
      <span>Order List</span>
    </button>
    <button mat-menu-item routerLink="/dashboard/bookings">
      <span>Booking List</span>
    </button>
    <button mat-menu-item routerLink="/dashboard/tables" *ngIf="staff.isAdmin">
      <span>Table List</span>
    </button>
    <button mat-menu-item routerLink="/dashboard/staff-members" *ngIf="staff.isAdmin">
      <span>Staff List</span>
    </button>
    <button mat-menu-item routerLink="/dashboard/register" *ngIf="staff.isAdmin">
      <span>Registration</span>
    </button>

    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logOut()">
      Log out
    </button>
  </mat-menu>
</mat-toolbar>