<section id="OrderPage">
  <div class="mat-elevation-z8 list">
      <table mat-table [dataSource]="dataSource">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let row"> {{row.description}} </td>
        </ng-container>

          <!-- ID Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let row"> {{row.price}} </td>
        </ng-container>

        <ng-container matColumnDef="acction">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row"><button (click)="add(row)">add</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>
  <mat-card class="payment">
    <mat-card-header>
      <mat-card-title class="payment-title">
        <mat-icon color="primary" class="payment-icon">account_circle</mat-icon>
        Order
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div class="listOrder" *ngIf="selectedItems.length > 0; else orderTemplate">
      <ol class="orderList">
        <li *ngFor="let item of selectedItems" class="listItem"> <span>{{ item.name }}</span> <span>+£{{ item.price }}</span></li>
        
      </ol>
      <button mat-button color="warn" (click)="remove()">remove</button>
    </div>
    <ng-template #orderTemplate>
      <h3>Add some items</h3>
    </ng-template>
    <mat-divider></mat-divider>
    <mat-card-actions class="payment-action">
      <button (click)="confirmeOrder()" [disabled]="selectedItems.length == 0" mat-raised-button color="primary" class="payment-button-primary">Order</button>
      <h3 class="payment-button-primary">Total: £{{ totalPayment }}</h3>
    </mat-card-actions>
  </mat-card>
</section>