<mat-toolbar color="primary">
  <div id="logo" routerLink="/">
    <h1>Saffron Indian Restaurant</h1>
  </div>
  <span class="spacer"></span>

  <button mat-button class="nav-btn" routerLink="/book-table">Book Table</button>
  <button mat-button class="nav-btn" routerLink="/menu">Menu</button>
  <button mat-button class="nav-btn" routerLink="" fragment="contact-us"><a href="#contact-us">Contact Us</a></button>

  <button mat-button [matMenuTriggerFor]="customerMenu" class="nav-btn" *ngIf="customer.isLoggedIn">
    <mat-icon>account_circle</mat-icon>
  </button>
  
  <mat-menu #customerMenu="matMenu">
    <p mat-menu-item disabled class="subnav-header">{{ customer.email }}</p>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/my-bookings">
      <span>My bookings</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logOut()">
      Log out
    </button>
  </mat-menu>
</mat-toolbar>