table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

tr:hover {
    background-color: #eee;
}

.action_button {
    width: 100%;
}
.action_button_default {
    background-color: #999;
}

#myBookingList {
    margin: 10px;
}

.id_padding {
    padding-right: 5px;
}